[submodule "ZigAndroidTemplate"]
	path = vendor/ZigAndroidTemplate
	url = https://github.com/MasterQ32/ZigAndroidTemplate
[submodule "vendor/apple_pie"]
	path = vendor/apple_pie
	url = https://github.com/LuukDeGram/apple_pie
[submodule "vendor/ZigAndroidTemplate"]
	path = vendor/ZigAndroidTemplate
	url = https://github.com/MasterQ32/ZigAndroidTemplate
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/zigimg"]
	path = vendor/zigimg
	url = https://github.com/zigimg/zigimg
[submodule "vendor/SDL.zig"]
	path = vendor/SDL.zig
	url = https://github.com/MasterQ32/SDL.zig
[submodule "vendor/zlm"]
	path = vendor/zlm
	url = https://github.com/ziglibs/zlm
[submodule "vendor/args"]
	path = vendor/args
	url = https://github.com/MasterQ32/zig-args
[submodule "vendor/ZTT"]
	path = vendor/ztt
	url = https://github.com/MasterQ32/ZTT
